{% extends "detail.html.twig" %}

{% block detail %}

{# Ingredienten #}
    
    {% for ingredient in record['ingredienten'] %}
                        
        <div class="col-sm-3 align-items-center">
            <img src="assets/img/verrukkulluk-burger.png" class="center" width= "100px">
        </div>
        <div class="col-sm-9">
            <h2 style="color: var(--darker-green);"> {{ ingredient.naam }}  </h2>
            <p> {{ingredient.omschrijving}} </p>
            <h3 style="color: var(--darker-green);"> Hoeveelheid: </h3> <font size="3">{{ ingredient.hoeveelheid }} {{ ingredient.eenheid }}</font>
            <br> <br>
        </div>
                    
    {% endfor %}

{% endblock %}