<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    
    
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>

    <script>
        $(document).ready( function() {
            
            $(".rating").click( function() {
                var value = $(this).attr("data-value");
                
                $.ajax({
                          
                    url: "http://localhost/educom-verrukkulluk/educom-verrukkulluk/index.php?recept_ID={{data[0].ID}}&action=waardering",
                    method: "POST",
                    data: { rating: value },
                            
                    success: function(response) { 
                        $('.rating').each( (index, elem) => {
                            // remove the solid-class from the stars
                            $(elem).removeClass("fas");
                            var itemValue = $(elem).attr('data-value');
                            if(itemValue <= response.rating) {
                                $(elem).addClass("fas");
                            }
                        }) 
                        console.log(response)
                    }
                })

            })

            $(".rating").hover( function() {
                $(".rating").css('cursor', 'pointer');
            })

            $(".favorite").click( function() {
                
                if ($(this).hasClass("fas")){var value = false;}
                else {var value = true;}
                
                $.ajax({
                          
                    url: "http://localhost/educom-verrukkulluk/educom-verrukkulluk/index.php?recept_ID={{data[0].ID}}&action=favoriet",
                    method: "POST",
                    data: { favorite: value },
                           
                    success: function(response) { 
                        $('.favorite').each( (index, elem) => {
                            if(response.favorite == 'false'){$(elem).removeClass("fas");}
                            if(response.favorite =='true'){$(elem).addClass("fas");}
                        })          
                        console.log(response) 
                    }
                })

            })

            $(".favorite").hover( function() {
                $(".favorite").css('cursor', 'pointer');
            })

            $(".updateBoodschap").click( function() {
                var id = $(this).attr("data-value");
                var standaard_hoeveelheid = document.getElementById(id).getAttribute('data-value');
                var aantal = document.getElementById(id).value;
                var value = standaard_hoeveelheid * aantal;

                var prijs = document.getElementById("prijs_"+id);
                var totaal_prijs = document.getElementById("totaal_prijs");
                
                var prijs_old = Number(prijs.textContent);
                var totaal_prijs_old = Number(totaal_prijs.textContent);
                console.log(prijs_old)
                console.log(totaal_prijs_old)
                $.ajax({
                          
                    url: "http://localhost/educom-verrukkulluk/educom-verrukkulluk/index.php?action=updateBoodschap&artikel_ID="+id,
                    method: "POST",
                    data: { hoeveelheid: value},
                           
                    success: function(response) {
                        console.log(response)  
                        prijs.textContent = Number((response.prijs*aantal)).toFixed(2);
                        var verschil = Number((response.prijs*aantal) - prijs_old);  
                        totaal_prijs.textContent = Number(totaal_prijs_old + verschil).toFixed(2);
                    }
                })

            })
            
            $(".updateBoodschap").hover( function() {
                $('.updateBoodschap').css('cursor', 'pointer');
            })

        })

            

    </script>

</head>

<body>

<div class="container-fluid overflow-hidden">

    <div class="row" >
        <div class="col-md-12">

        {% block header %}
        {% endblock %}    

        </div>
    </div>

    <div class="row">
        <div class="col-md-3 g-5">
            {# <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br> #}
            {# <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a> #}
            <div class="row g-5">
                <div class="col-md-12">
                    <div class="agenda">
                        <img src="assets/img/verrukkulluk-agenda.png" class="center" width= "200px">
                    </div>  
                </div>
                <div class="col-md-12">
                    <div class="login">
                        <img src="assets/img/verrukkulluk-contact.png" class="center" width= "200px">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 footer g-5">
                <h1>Footer</h1>
        </div>
    </div>


</div>

</body>

</html>
